.container {
  background-color: grey;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.result-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 40px;
}

.section {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

input {
  background-color: #ccc;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px
}

button {
  background-color: greenyellow;
  border-radius: 20px;
  padding: 10px;
  border: none;
  outline: none;
}